// LESS Variables

@background: #fff; /* Background color */
@bg-light: #f5f5f5; /* Background color */

@text: #454545; /* Base text color */
@text-light: #999; /* Light text color */
@text-header: #333; /* h1~h6 text color */

@link: #1487bd; /* Link text color */
@hover: #0f5373; /* Link text color(hover) */
@visited: #789dae; /* Link text color(hover) */

@border: #ddd; /* Border color */

@btn: #fff; /* button background */
@btn-hover: #f5f5f5; /* button hover backgroud */


// font

@header-font: 'Nothing You Could Do', cursive;
@small: 75%;
@gray: #999;

// font-size
@f28: 200%;
@f26: 186%;
@f24: 172%;
@f22: 157%;
@f20: 138%;
@f18: 128%;
@f16: 115%;
@f14: 100%;
@f13: 93%;
@f12: 86%;
@f11: 78%;
@f10: 72%;
@f9:  67%;